<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini WhatsApp</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1>All Chats!</h1>
    <% for(chat of chats) { %>
        <div class="chat">
            <p>From: <i> <%= chat.from %> </i></p>
            <div class="mssg">
                <p><%=  chat.msg %></p>
            </div>
            <p>Recived by: <i> <%= chat.to %> </i></p>
            <hr>
        </div>
        <br><br>
    <% } %>
</body>
</html>

