body{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: rgb(140, 186, 226);
}
#box{
    border: 2px solid black;
    border-radius:10px;
    padding: 10px;
    background-color: rgb(242, 202, 68);
}
input{
    border-radius: 6px;
    border: 1px solid black;
    padding: 4px;
}
button{
    border-radius: 5px;
    border: 1px solid black;
    margin-left: 5px;
    margin-bottom: 3px;
    background-color: beige;
    
}