body{
    text-align: center;
}

#box{
    height: 100px;
    width: 500px;
    margin: auto;
    border: 1px solid black;
}
#box1{
    height: 100px;
    width: 100px;
    background-color: pink;
    border: 1px solid black;
}