<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>This is the home page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, commodi sit veritatis nesciunt sint beatae facere aliquam? Quibusdam, explicabo fugiat? Reprehenderit corporis, quis possimus tempora dolores dicta esse, atque blanditiis placeat, consequuntur debitis officia inventore? Non corporis, libero deleniti atque dolor distinctio itaque, consequatur rerum facilis natus quae similique veritatis asperiores unde ab quisquam, soluta maiores ea dolores cupiditate labore at voluptatibus culpa earum. Corporis vero pariatur repellat velit obcaecati ad? Nihil consectetur ipsum sit iusto voluptas quaerat obcaecati sapiente, saepe, magnam tenetur rem totam similique dignissimos quam quisquam, repellat perferendis vero ea aliquid? Inventore odio nemo ea nisi molestiae.</p>
    <button>click me</button>
</body>
</html>