<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>This is the home page</h1>
    <h3><%= 1+2 %></h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, commodi sit veritatis nesciunt sint beatae facere aliquam? Quibusdam, explicabo fugiat? Reprehenderit corporis, quis possimus tempora dolores dicta esse, atque blanditiis placeat, consequuntur debitis officia inventore? Non corporis, </p>
    <button>click me</button>
</body>
</html>